*.pyc
*.jar
mxbuild*
*.idea*
*.iml
**.old
*.log
*.csv
*.cfg
*.bgv


target/
gce/at\.fh\.hagenberg\.aist\.gce\.optimization\.external/src/at/fh/hagenberg/aist/gce/optimization/external/messages/ExternalConnectorProtos\.java

logs/

*.zip
